
.homeContainer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}
.buttonShop{
    background-color:  #0b69ff;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0px;
}
.ImgSize{
      width:40%;
    margin:10px;
}
.photoSize{
   height:60%;
}
.leftContainer{
   width:40%;
}